@model IEnumerable<ShoppingList.Models.Cart>


@{
    ViewData["Title"] = "My Shopping List";
}

<h1>Cart List</h1>

<p>
    <a asp-action="Create">Create New Shopping List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
               @Html.Raw("Numbers of Items")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.Done)
                {
                    <a asp-controller="Items" asp-action="Items" asp-route-cartId="@item.Id">
                        <del> @Html.DisplayFor(modelItem => item.Title) </del>
                    </a>
                }
                else
                {
            <a asp-controller="Items" asp-action="Items" asp-route-cartId="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
            </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (item.Items != null)
                {
                    @item.Items.Count()
                }
                else
                {
                    <p>0</p>
                }
            </td>
            <td>
                <input type="checkbox" checked="@item.Done"
                       onclick="ChangeCartStatus(@item.Id,'@item.Done')" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<script>
    function ChangeCartStatus(itemId, doneStatue) {
       $.ajax({                                        
           type: "POST",
           url: `Carts/CartStatus/${itemId}`, 
           data: { id: itemId, isDone: doneStatue },
           contentType: "application/json",
           success: function (sccuess) {
               location.reload(true);
        },
           error: function (error) {
               console.error(error); 
            }
        }); 
    }
</script>
